
// www.siamak.us

// == Mixin of BEM selectors with SCSS: ==
// =======================================
//
// B: Block
// E: Element
// M: Modifier
//
//

// Build Element(E)::
// @mixin element($e) {
//   &__#{$e}{
//     @content;
//   }
// }
//
// // Build Modifier(M)::
// @mixin modifier($m) {
//   &--#{$m}{
//     @content;
//   }
// }

// Using::
// .navigation{ // Block
//   @include element('button'){ // Element
//     background-color: gray;
//     color: white;
//     border: 0;
//     padding: .25em .5em;
//     @include modifier('success'){ // Modifier
//       background-color: green;
//     }
//     @include modifier('error'){ // Modifier
//       background-color: red;
//     }
//     @include modifier('warning'){ // Modifier
//       background-color: orange;
//     }
//   }
// }

//Padding bottom hack / responsive image.
//Usage: @include responsive-img

@mixin responsive-img{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
  }
}

//Responsive video
//Usage: @include responsive-video

@mixin responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  embed,
  object,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//Ghost Vertical Align
//Usage: @include ghostVerticalAlign

@mixin ghostVerticalAlign{
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}

//Cross-browser animation
//Usage: @include animation

@mixin animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms) {
  // There is a FF bug that requires all time values to have units, even 0 !!!!!!
  -webkit-animation: $name $duration $iterations $timing-function $delay;
  -moz-animation: $name $duration $iterations $timing-function $delay;
  -o-animation: $name $duration $iterations $timing-function $delay;
  animation: $name $duration $iterations $timing-function $delay;
}

//Absolute center
//Usage: @include center

@mixin center{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

//Remove bullets in ul/ol
//Usage: @include clear-list

@mixin clear-list{
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//Prevent breaking out long URLs
//Usage: @extend %word-break

%word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

//Floated element always comes first in the document order. http://wtfhtmlcss.com/#floats-clearing
//Usage: @include clearfix

@mixin clearfix{
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both
  }
}

//Crossbrowser opacity mixin
// Usage: @include opacity(.5)

@mixin opacity($value){
  opacity: #{"." + $value};
  filter: alpha(opacity=$value);
  -ms-filter: "alpha(opacity=$value)";
  -khtml-opacity: #{"." + $value};
  -webkit-opacity: #{"." + $value};
  -moz-opacity: #{"." + $value};
}

//Usage: @include filter(grayscale, 100%);
// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

//Usage: @include clear-hyperlink;

@mixin clear-hyperlink{
  text-decoration: none;
  &:focus,
  &:hover{
    text-decoration: none;
    outline: 0 none;
    border:0 none
  }
}

// Flexbox mixin

@mixin flexbox-display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// Usage: @include css3(border-radius, 10px 10px 8px 8px)

@mixin css3($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
