
$default-fontfamily: "Raleway", Arial, sans-serif;
$default-textcolor: #fff;
$default-fontsize: 14px;
$default-background: #000;
$default-fontweight: 400;
$default-lineheight: 1.5;

$img-path: "../img";
